<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chaos Analysis Results</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <style>
        .result-container {
            display: flex;
            justify-content: space-between;
        }
        .analysis-info {
            width: 45%;
        }
        .chart-container {
            width: 45%;
        }
        .back-button {
            margin-top: 20px;
        }
    </style>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <div class="container">
        <a href="/" class="btn btn-primary back-button"><i class="fas fa-arrow-left"></i> Back to home</a>
        <h1 class="mt-5">Analysis Results for <%= targetUrl %></h1>
        <div class="result-container">
            <div class="analysis-info">
                <h3>Chaos Type: <%= chaosType %></h3>
                <p>Proxy running on port: <%= proxyPort %></p>
                <p>This analysis applies the following chaos type:</p>
                <% if (chaosType === 'latency') { %>
                    <p>Latency: Introduces artificial delays to simulate network latency.</p>
                <% } else if (chaosType === 'abort') { %>
                    <p>Abort: Simulates abrupt connection termination.</p>
                <% } else if (chaosType === 'slowRead') { %>
                    <p>Slow Read: Slows down the data read speed from the server.</p>
                <% } else if (chaosType === 'injectError') { %>
                    <p>Inject Error: Injects server-side errors into responses.</p>
                <% } %>
                <h4>Details:</h4>
                <ul>
                    <% results.forEach(result => { %>
                        <li>Request <%= result.request %>: <%= result.responseTime === 'error' ? 'Error' : result.responseTime + ' ms' %></li>
                    <% }); %>
                </ul>
            </div>
            <% if (chaosType === 'latency') { %>
            <div class="chart-container">
                <canvas id="myChart" width="300" height="200"></canvas>
            </div>
            <% } %>
        </div>
        <% if (chaosType === 'latency') { %>
        <script type="text/script" src="/js/result.js">
          
        </script>
        <% } %>
        <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    </div>
</body>
</html>
